<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <br>
    <div class="container">
        <h1>Python Scripts Home</h1> 
        <br>
        <br>
        <h3>Targetting network devices present in DJango DB and executing local Python Scripts</h3> 
        <br>
        <h4>Displaying results in SAME page</h4> 
        <button onclick="location.href='{% url 'scriptdone' %}'"> From View Def Script</button> 
        {% if data %}
        {{ data }}
        {% endif %}
        <br>
        <br>
        <h4>Displaying results in CLEAN page</h4>
        <button onclick="location.href='{% url 'scriptfinal' %}'"> From PY file Script</button> 
        <br>
        <br>
        <h4>Displaying results in NEW page</h4>
        <button onclick="location.href='{% url 'external' %}'"> From PY file Script</button>
        <br>
        <br>
        <h3>Targetting Network device on DB and executing local Python Scripts</h3>
        <h4>From SALT script, in NEW page</h4>
        <button onclick="location.href='{% url 'salt' %}'"> From SALT Script</button>
    </div>
</body>
</html>