<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <br>
    <div class="container">
        <h1>Python Scripts Home</h1> 
        <br>
        <br>
        <h3>Targetting network devices present in DJango DB and executing local Python Scripts</h3> 
        <br>
        <br>
        <br>
        <br>
        <h4>Using an specific MINION, get the results of 'show bgp summary' (definition: show_bgp_sum --> bgp.html)</h4>
        <form name='search' action="{% url 'show_bgp_summ' %}" method="get"> {% csrf_token %}
            Enter Minion Name: <input type="text" id="searchbox" name='searchbox' pattern="*" required oninvalid="this.setCustomValidity('Field cannot be empty')">
            <input id="myinput" type="submit" name="search_query">
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4>From SALT script, in NEW page (definition: salt --> salt.html)</h4>
        <button onClick="location.href='{% url 'salt' %}'"> From SALT Script</button>
        <br>
        <br>
        <h4>Displaying results in SAME page (definition: output --> output.html)</h4> 
        <button onclick="location.href='{% url 'scriptdone' %}'"> From View Def Script</button> 
        {% if data %}
        {{ data }}
        {% endif %}
        <br>
        <br>
        <h4>Displaying results in CLEAN page (definition: another --> output.html)</h4>
        <button onclick="location.href='{% url 'scriptfinal' %}'"> From PY file Script</button> 
        <br>
        <br>
        <h4>Displaying results in NEW page (definition: external --> external.html)</h4>
        <button onclick="location.href='{% url 'external' %}'"> From PY file Script</button>
        <br>
        <br>
    </div>
</body>
</html>