<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% extends 'topbarmenu.html' %}
    {% block content %}
    <div class="container">
        <br>
        <br>
        <h1>Python Scripts (Local, not SALT)</h1> 
        <br>
        <br>
        <h3>Targetting network devices present in DJango DB and executing local Python Scripts</h3> 
        <br>
        <br>
        <br>
        <h4> SALT API (external) CORRECTED</h4>
        <button onClick="location.href='{% url 'saltapiexternal' %}'"> From SALT API External</button>
        <br>
        <br>
        <br>
        <h4> SALT API , in NEW page (definition: salt --> saltapipage.html)</h4>
        <button onClick="location.href='{% url 'saltapi' %}'"> From SALT API</button>
        <br>
        <br>
        <br>
        <h4>From SALT script, in NEW page (definition: salt --> saltout.html)</h4>
        <button onClick="location.href='{% url 'saltout' %}'"> From SALT Script</button>
        <br>
        <br>
    </div>
    {% endblock %}
</body>
</html>