<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <h5> BGP Status - Getting dict nested info </h5>
        <br>
        <table style="width:70%">
            <tr>
            <th>Peer IP</th>
            {% for result in output_table2 %}
                <td>{{ result }}</td>
            {% endfor %}

            <tr>
            <th>REGEX Result</th>
            {% for result in output_table1 %}
                <td>{{ result }}</td>
            {% endfor %}
            </tr>

            {% for key, val in outputx.items %}
            <tr>
                <th>Command_Issued</th>
                <td>{{ key }}</td>
            </tr>
            <tr>
                <th>Output</th>
                <td>{{ val }}</td>
            </tr>
            {% endfor %}
        </table>      
    </div>
</body>
</html>