<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h5> Table 1 non nested </h5>
        <table style="width:70%">
            <tr>
                <th>Key</th>
                <th>Status</th>
            </tr>
            {% for key, val in str.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ val }}</td>
            </tr>
            {% endfor %}
        </table>      
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h5> Table 2 nested </h5>
        <table style="width:70%">
            {% for key, val in str.vsrx1.out.items %}
            <tr>
                <th>Command_Issued</th>
                <td>{{ key }}</td>
                <th>Peer Status</th>
                <td>{{ value }}</td>
            </tr>
            <tr>
                <th>Output</th>
                <td>{{ val }}</td>
            </tr>
            {% endfor %}
            {% for result in str.vsrx1.comment %}
            <tr>
                <th>Result</th>
                <td>{{ result }}</td>
            </tr>
            {% endfor %}
        </table>      
    </div>
</body>
</html>