<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <h5> BGP Status - Getting dict nested info </h5>
        <br>
        <table style="width:70%">
            <th>Command_Issued</th>
            {% for result3 in output_table3 %}
            <tr>
                <td>{{ result3 }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:70%">
            <th>BGP peers</th>
            {% for result4 in output_table2 %}
            <tr>
                <td>{{ result4 }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:70%">
            <tr>
            <th>REGEX</th>
            {% for result in output_table1 %}
                <td>{{ result }}</td>
            {% endfor %}
            </tr>
        </table> 
        <br>
        <br>
        <table style="width:70%">
            <th>RAW Output</th>
            {% for key, val in output.items %}
            <tr>
                <td>{{ val }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>     
    </div>
</body>
</html>